<%- include('partials/header') -%>

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl">SpotCheck</a>
  </div>
  <div class="navbar-end">
  </div>
</div>

    <!-- <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main> -->

<% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
        <div role="alert" class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span><%= el.msg %></span>
      </div>
    <% }) %>    
<% } %>
<% if (locals.messages.info) { %>
    <% messages.info.forEach( el => { %>
        <div role="alert" class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span><%= el.msg %></span>
      </div>
     <% }) %>    
<% } %>

<div class="hero bg-base-200 min-h-screen">
  <form action="/signup" method="POST">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">Signup</legend>

      <label for="userName" class="label">User Name</label>
      <input type="text" class="input" id="userName" name="userName" placeholder="Username">

      <label for="exampleInputEmail1" class="label">Email</label>
      <input type="email" class="input" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email"/>

      <label for="exampleInputPassword1" class="label">Password</label>
      <input type="password" class="input" id="password" name="password" placeholder="Password"/>

      <label for="confirmPassword" class="label">Confirm Password</label>
      <input type="password" class="input" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">

      <button type="submit" class="btn btn-neutral mt-4">Submit</button>
    </fieldset>
  </form>
</div>

<%- include('partials/footer') -%>